/* Base Files */
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: "NextLT";
  src: url("../fonts/DINNextLTPro-LightCondensed.otf");
  font-weight: 300; }

@font-face {
  font-family: "NextLT";
  src: url("../fonts/DINNextLTPro-Regular.otf");
  font-weight: 400; }

@font-face {
  font-family: "NextLT";
  src: url("../fonts/DINNextLTPro-Medium.otf");
  font-weight: 500; }

@font-face {
  font-family: "NextLT";
  src: url("../fonts/DINNextLTPro-Bold.otf");
  font-weight: 700; }

@font-face {
  font-family: "NextLT";
  src: url("../fonts/DINNextLTPro-Heavy.otf");
  font-weight: 900; }

@font-face {
  font-family: "Rita";
  src: url("../fonts/Rita-Ultra Bold.otf"); }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf"); }

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }

.form-control::-ms-expand {
  background-color: transparent;
  border: 0; }

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control::placeholder {
  color: #6c757d;
  opacity: 1; }

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1; }

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px); }

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff; }

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 1.125rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }

.btn:hover,
.btn:focus {
  text-decoration: none; }

.btn:focus,
.btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.btn.disabled,
.btn:disabled {
  opacity: 0.65; }

.btn:not(:disabled):not(.disabled) {
  cursor: pointer; }

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
  background-image: none; }

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none; }

.btn-primary {
  color: #fff;
  background-color: #06b8a9;
  border-color: #06b8a9; }

.btn-primary:hover {
  color: #fff;
  background-color: #059387;
  border-color: #04877c; }

.btn-primary:focus,
.btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #06b8a9;
  border-color: #06b8a9; }

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf; }

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d; }

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62; }

.btn-secondary:focus,
.btn-secondary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); }

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d; }

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b; }

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); }

#ninja-slider {
  width: 100%;
  /*background:#333;*/
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#ninja-slider.fullscreen {
  background: #000000; }

#ninja-slider .fs-icon {
  top: 20px;
  right: 20px;
  width: 60px;
  height: 26px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  color: white;
  text-align: center;
  font: bold 11px/26px arial;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s; }

#ninja-slider .slider-inner:hover .fs-icon,
#ninja-slider.fullscreen .fs-icon {
  opacity: 1; }

#ninja-slider .fs-icon::before {
  content: "EXPAND";
  display: block; }

#ninja-slider.fullscreen .fs-icon::before {
  content: "CLOSE"; }

#ninja-slider .slider-inner {
  margin: 0 auto;
  /*center-aligned */
  font-size: 0px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#ninja-slider.fullscreen .slider-inner {
  width: 100%;
  max-width: 950px; }

#ninja-slider ul {
  /*overflow:hidden;*/
  position: relative;
  list-style: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#ninja-slider li {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*#ninja-slider li img {border-radius:10px; box-sizing:border-box}*/
#ninja-slider li.ns-show {
  opacity: 1; }

/* --------- slider image ------- */
#ninja-slider .ns-img {
  background-color: rgba(0, 0, 0, 0.3);
  background-size: contain;
  /*Note: If transitionType is zoom, it will be overridden to cover.*/
  /*decorate border*/
  /*box-shadow: 0 1px 5px rgba(0,0,0,.8),inset 0 0 2px rgba(255,255,255,.4);*/
  border-radius: 0;
  cursor: default;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center; }

#ninja-slider .ns-img2 {
  background-color: rgba(0, 0, 0, 0.3);
  background-size: contain;
  /*Note: If transitionType is zoom, it will be overridden to cover.*/
  /*decorate border*/
  /*box-shadow: 0 1px 5px rgba(0,0,0,.8),inset 0 0 2px rgba(255,255,255,.4);*/
  cursor: default;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center; }

/*---------- Captions -------------------*/
#ninja-slider .videoRegister {
  padding: 5px 10px;
  bottom: -100px;
  width: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 99999;
  -webkit-animation-name: videoRegisterMove;
          animation-name: videoRegisterMove;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

#ninja-slider .videoRegister:hover {
  color: white; }

@-webkit-keyframes videoRegisterMove {
  from {
    bottom: -100px; }
  to {
    bottom: 0px; } }

@keyframes videoRegisterMove {
  from {
    bottom: -100px; }
  to {
    bottom: 0px; } }

#ninja-slider .caption {
  padding: 20px 40px;
  margin: auto;
  left: 0;
  right: 0;
  top: auto;
  bottom: 8%;
  width: 50%;
  text-align: center;
  font-family: sans-serif;
  font-size: 2.2em;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  z-index: 99999; }

#ninja-slider li[class*="-s"] .caption {
  opacity: 1; }

/* ---------If there are videos ------- */
#ninja-slider .video,
.video-playbutton-layer {
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: black;
  position: absolute; }

/* And if you have added the HTML: <div class="video-playbutton-layer"></div> */
.video-playbutton-layer {
  background: transparent url(video-btn.png) no-repeat center center;
  zoom: 60%;
  cursor: pointer; }

/* And if you have YouTube or Vimeo */
#ninja-slider div.stopVideoIcon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0px;
  margin: 0 0 6px 6px;
  background: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 4px;
  cursor: pointer; }

#ninja-slider div.stopVideoIcon::before {
  content: "+";
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  /*font:normal 30px/30px arial;*/
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block; }

/* ---------Arrow buttons ------- */
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */
#ninja-slider-pause-play {
  display: none; }

#ninja-slider-prev,
#ninja-slider-next {
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  cursor: pointer;
  /*border:1px solid white;*/ }

#ninja-slider:hover #ninja-slider-prev,
#ninja-slider:hover #ninja-slider-next {
  opacity: 1;
  cursor: pointer;
  color: #4d4d4d;
  /*background-color:rgba(0,0,0,0.4);*/ }

/*
#ninja-slider-prev {
  left: -25%;
}
#ninja-slider-next {
  right: -25%;
}

#ninja-slider:hover #ninja-slider-prev {
  left: -80px;
}
#ninja-slider:hover #ninja-slider-next {
  right: -80px;
}*/
/*#ninja-slider-prev {left:-70px;}
#ninja-slider-next {right:-70px;}*/
/*pagination within the prev/next buttons*/
/*
#ninja-slider-prev div {
  opacity: 0;
  margin-left: 30px;
  transition: opacity 0.7s;
}
#ninja-slider-next div {
  opacity: 0;
  float: right;
  margin-right: 30px;
  transition: opacity 0.7s;
}
#ninja-slider-prev:hover div,
#ninja-slider-next:hover div {
  opacity: 1;
}
*/
/* arrows */
/*#ninja-slider-prev::before,
#ninja-slider-next::before {
  position: absolute;
  top: 25px;
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-left: 3px solid #ff8000;
  border-top: 3px solid #ff8000;
}

#ninja-slider-prev:hover::before,
#ninja-slider-next:hover::before {
  border-left: 3px solid #4d4d4d;
  border-top: 3px solid #4d4d4d;
}
#ninja-slider-prev::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  backface-visibility: hidden;
  right: -16px;
}

#ninja-slider-next::before {
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  backface-visibility: hidden;
  left: -16px;
}*/
/*------ pager(nav bullets) ------*/
/* The pager id should be: slider id + "-pager" */
/* #ninja-slider-pager { display:none;}*/
#ninja-slider-pager {
  padding-top: 20px;
  /* set the distance away from the slider */
  margin: 0 auto;
  /* center align */
  text-align: center;
  display: table;
  font-size: 0;
  vertical-align: middle; }

#ninja-slider-pager a {
  display: inline-block;
  width: 10px;
  height: 10px;
  /*background-color: #888;*/
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0;
  /* Non-zero will show the index num */
  margin: 2px 6px;
  cursor: pointer;
  border-radius: 10px;
  /*box-shadow:inset 0 1px 3px #666666;*/
  vertical-align: middle; }

#ninja-slider-pager a:hover {
  background: #0593c9;
  opacity: 1;
  vertical-align: middle; }

#ninja-slider-pager a.active {
  width: 15px;
  height: 15px;
  background-color: #0593c9;
  /*box-shadow:0 1px 1px rgba(0,0,0,.5);*/
  vertical-align: middle;
  /* timer dots */
  /*opacity:1;
animation: cssAnimation 7s ease-in 0s forwards;*/ }

/* timer dots */
/*@keyframes cssAnimation {
  to {
  opacity:0;
  }
}*/
#ninja-slider-pager,
#ninja-slider-prev,
#ninja-slider-next,
#ninja-slider-pause-play {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; }

body {
  background: #fff;
  color: #a7a9ac;
  font-family: "NextLT", Courier, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; }

.header {
  background: url("../img/background/1.jpg") no-repeat center/cover;
  padding: 40px 20px; }

.logo {
  display: block;
  height: 96px;
  margin: 0 auto;
  width: 96px; }

.logo img {
  width: 100%; }

.menu ul {
  display: none; }

.nav-link-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px 0;
  color: #fff;
  font-size: 28px;
  font-weight: 600; }

.nav-link-phone img {
  height: 24px;
  margin-right: 6px; }

.header-desc-box {
  display: none; }

.contact-form {
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #1b75bc;
  padding: 40px 20px;
  text-align: center; }

.contact-form-title {
  font-size: 32px;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase; }

.contact-form-text {
  display: block;
  font-size: 21px;
  line-height: 20px;
  margin: 20px 0; }

.header-slider-control {
  display: none; }

.main-form .form-control {
  background-color: rgba(137, 178, 218, 0.7);
  border-color: rgba(137, 178, 218, 0.7);
  color: #6699cb;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 0.5rem 0.75rem; }

.main-form .form-control:focus,
.main-form .form-control::-webkit-input-placeholder,
.main-form .form-control::-moz-placeholder,
.main-form .form-control:-ms-input-placeholder,
.main-form .form-control::-ms-input-placeholder,
.main-form .form-control::-webkit-input-placeholder {
  color: #6699cb !important; }

.main-form .form-control:focus,
.main-form .form-control::-webkit-input-placeholder,
.main-form .form-control::-moz-placeholder,
.main-form .form-control:-ms-input-placeholder,
.main-form .form-control::-ms-input-placeholder,
.main-form .form-control::placeholder {
  color: #6699cb !important; }

.row-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.carrousel-controls {
  display: none; }

.carrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.card-box {
  background: #f1f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 40px 20px; }

.card-box:not(.sm) {
  display: none; }

.card-box.one {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/page-titles/1.jpg") no-repeat center/cover;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  position: relative;
  z-index: 0; }

.card-box.one::before {
  background: rgba(27, 117, 188, 0.45);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }

.two .card-box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.two .card-box-title {
  font-family: "Rita";
  font-size: 24px;
  text-transform: uppercase; }

.two .card-box-subtitle {
  text-transform: uppercase;
  font-size: 10px; }

.two .card-box-list {
  list-style: none;
  padding: 0;
  margin-bottom: 0; }

.two .card-box-list li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px; }

.two .card-box-list li + li {
  margin-top: 5px; }

.card-box-list-img {
  height: 16px;
  margin-right: 10px;
  width: 16px; }

.card-box-description {
  font-size: 13px; }

.action-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300; }

.action-box img {
  height: 60px;
  margin-bottom: 12px; }

.action-box-text {
  text-align: center; }

.action-box-brochure,
.action-box-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0; }

.action-box-brochure {
  background-color: #06b8a9; }

.action-box-contact {
  background-color: #1b75bc; }

.banner-box {
  display: none; }

.work {
  background: url("../img/background/2.jpg") no-repeat center/cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  padding: 60px 20px;
  position: relative;
  z-index: 0; }

.work::before {
  background: rgba(27, 117, 188, 0.7);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }

.work-title {
  margin-top: 0; }

.quote {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f1f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 20px; }

.quote-image {
  height: 160px; }

.quote-text {
  padding-left: 20px; }

.footer {
  background: #f1f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.footer-nav {
  display: none; }

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer-social-link {
  height: 36px;
  width: 36px; }

.footer-social-link + .footer-social-link {
  margin-left: 24px; }

.footer-social-link img {
  height: 100%;
  width: 100%; }

.office-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 48px 20px; }

.office-box-image {
  border-right: 1px solid #939598;
  height: 60px;
  padding-right: 12px;
  position: relative; }

.office-box-image img {
  width: auto;
  height: 100%; }

.office-box-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 12px; }

#ninja-slider ul {
  padding-top: calc(calc(100vh / 2) + 360px) !important; }

@media (min-width: 480px) {
  .contact-form {
    padding: 40px 60px; }
  .card-box {
    padding: 40px; } }

@media (min-width: 480px) and (max-width: 599px) {
  .header {
    padding: 40px 60px; } }

@media (min-width: 600px) {
  .row-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .card-box:not(.sm) {
    display: initial; }
  .card-box.three {
    background: url("../img/page-titles/2.jpg") no-repeat center/cover; }
  .card-box.five {
    background: url("../img/page-titles/3.jpg") no-repeat center/cover; }
  .four .card-box-title {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700; }
  .six .card-box-title {
    text-transform: capitalize;
    font-size: 21px;
    font-weight: 700; }
  .action-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .banner-box {
    background: url("../img/banners/1.jpg") no-repeat center/cover;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: initial;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 30px;
    position: relative;
    z-index: 0; }
  .banner-box::before {
    background: rgba(6, 183, 169, 0.15);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }
  .banner-box-text {
    bottom: 30px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute; }
  .banner-box-title {
    font-family: "Rita";
    font-size: 48px;
    line-height: 40px;
    text-transform: uppercase; }
  .banner-box-subtitle {
    text-align: right;
    text-transform: uppercase; }
  .row-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .quote {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .work {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 10px; }
  .footer-nav-link {
    color: #939598;
    text-decoration: none; }
  .footer-nav-link + .footer-nav-link {
    margin-left: 10px; }
  .office-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .social-box {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 48px 20px; }
  .footer-social {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .footer-social-link {
    height: 24px;
    width: 24px; }
  .header-slider {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media (min-width: 600px) and (max-width: 767px) {
  .contact-form {
    width: 60%;
    padding: 40px; }
  .card-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%; }
  .card-box.slider-control {
    display: none; } }

@media (min-width: 680px) {
  .header-main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header-slider {
    padding-top: 40px; }
  .logo {
    margin: 0; }
  .menu {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase; }
  .menu ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 10px; }
  .menu li {
    display: inline-block;
    margin: 0 10px; }
  .nav-link-phone {
    display: inline-block;
    font-size: 18px;
    margin: 0; }
  .nav-link-phone img {
    height: 14px; } }

@media (min-width: 680px) and (max-width: 767px) {
  .menu li {
    margin: 0 4px; } }

@media (min-width: 768px) {
  .menu ul {
    margin-right: 30px; }
  .carrousel-controls {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; }
  .carrousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .row-two {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .card-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%; }
  .card-box.slider-control {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%; }
  .slider-current {
    font-size: 21px; }
  .slider-last {
    font-size: 12px; }
  .banner-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

@media (min-width: 992px) {
  .main {
    max-width: 960px;
    margin: 0 auto; }
  .header {
    padding-bottom: 150px; }
  #ninja-slider ul {
    padding-top: calc(calc(100vh / 2) + 460px) !important; }
  .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2; }
  .contact-form {
    width: 33.33%; }
  .header-slider-control {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #06b8a9;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 60px;
    -webkit-transform: translateY(150px);
            transform: translateY(150px); }
  .slider-count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header-desc-box {
    background: #1b75bc;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #fff;
    display: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    width: 33.33%; }
  .header-desc-box-title:not(.header-desc-box-subtitle) {
    font-family: "Rita";
    font-size: 24px;
    text-transform: uppercase; }
  .header-desc-box-subtitle {
    font-family: "NextLT";
    font-size: 12px;
    text-transform: uppercase; } }

@media (min-width: 1200px) {
  .main {
    max-width: 1140px;
    margin: 0 auto; } }

#ninja-slider-pager {
  display: none; }

.row-image {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background: url(../img/page-titles/1.jpg) no-repeat 50% / cover; */
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  position: relative;
  z-index: 0; }

.row-image:before {
  /* background: rgba(27, 117, 188, 0.45); */
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }

.row-image.alt {
  /* background: rgba(27, 117, 188, 0.45); */
  opacity: 0.25; }

.row-image,
.row-desc {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%; }

.row-desc {
  padding: 80px 60px;
  background: #f1f2f2; }

.row-desc-title {
  text-transform: uppercase; }
