@font-face {
  font-family: "NextLT";
  src: url("../fonts/DINNextLTPro-LightCondensed.otf");
  font-weight: 300;
}

@font-face {
  font-family: "NextLT";
  src: url("../fonts/DINNextLTPro-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "NextLT";
  src: url("../fonts/DINNextLTPro-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "NextLT";
  src: url("../fonts/DINNextLTPro-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "NextLT";
  src: url("../fonts/DINNextLTPro-Heavy.otf");
  font-weight: 900;
}

@font-face {
  font-family: "Rita";
  src: url("../fonts/Rita-Ultra\ Bold.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
