/* Base Files */
@import "reboot";
@import "variables";
@import "fonts";
@import "forms";
@import "buttons";
@import "carrousel";

body {
  background: $white;
  color: $gray-200;
  font-family: "NextLT", Courier, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.header {
  background: url("../img/background/1.jpg") no-repeat center/cover;
  padding: 40px 20px;
}

.logo {
  display: block;
  height: 96px;
  margin: 0 auto;
  width: 96px;
}

.logo img {
  width: 100%;
}

.menu ul {
  display: none;
}

.nav-link-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  color: $white;
  font-size: 28px;
  font-weight: 600;
}

.nav-link-phone img {
  height: 24px;
  margin-right: 6px;
}

.header-desc-box {
  display: none;
}

.contact-form {
  background: rgba($color: $white, $alpha: 0.7);
  box-sizing: border-box;
  color: $blue;
  padding: 40px 20px;
  text-align: center;
}

.contact-form-title {
  font-size: 32px;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

.contact-form-text {
  display: block;
  font-size: 21px;
  line-height: 20px;
  margin: 20px 0;
}

.header-slider-control {
  display: none;
}

.main-form .form-control {
  background-color: rgba($color: #89b2da, $alpha: 0.7);
  border-color: rgba($color: #89b2da, $alpha: 0.7);
  color: #6699cb;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 0.5rem 0.75rem;
}

.main-form .form-control:focus,
.main-form .form-control::-webkit-input-placeholder,
.main-form .form-control::-moz-placeholder,
.main-form .form-control:-ms-input-placeholder,
.main-form .form-control::-ms-input-placeholder,
.main-form .form-control::placeholder {
  color: #6699cb !important;
}

.row-one {
  display: flex;
  flex-wrap: wrap;
}

.carrousel-controls {
  display: none;
}

.carrousel {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
}

.card-box {
  background: $gray-100;
  box-sizing: border-box;
  flex: 0 0 50%;
  // min-height: 220px;
  padding: 40px 20px;
}

.card-box:not(.sm) {
  display: none;
}

.card-box.one {
  align-items: center;
  background: url("../img/page-titles/1.jpg") no-repeat center/cover;
  color: $white;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
}

.card-box.one::before {
  background: rgba($color: #1b75bc, $alpha: 0.45);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.two .card-box-text {
  display: flex;
  flex-direction: column;
}

.two .card-box-title {
  font-family: "Rita";
  font-size: 24px;
  text-transform: uppercase;
}

.two .card-box-subtitle {
  text-transform: uppercase;
  font-size: 10px;
}

.two .card-box-list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.two .card-box-list li {
  align-items: center;
  display: flex;
  font-size: 13px;
}

.two .card-box-list li + li {
  margin-top: 5px;
}

.card-box-list-img {
  height: 16px;
  margin-right: 10px;
  width: 16px;
}

.card-box-description {
  font-size: 13px;
}

.action-box {
  align-items: center;
  color: $white;
  display: flex;
  font-weight: 300;
}

.action-box img {
  height: 60px;
  margin-bottom: 12px;
}

.action-box-text {
  text-align: center;
}

.action-box-brochure,
.action-box-contact {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0;
}

.action-box-brochure {
  background-color: $green;
}

.action-box-contact {
  background-color: $blue;
}

.banner-box {
  display: none;
}

.work {
  background: url("../img/background/2.jpg") no-repeat center/cover;
  box-sizing: border-box;
  color: #fff;
  padding: 60px 20px;
  position: relative;
  z-index: 0;
}

.work::before {
  background: rgba($color: $blue, $alpha: 0.7);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.work-title {
  margin-top: 0;
}

.quote {
  align-items: center;
  background: $gray-100;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

.quote-image {
  height: 160px;
}

.quote-text {
  padding-left: 20px;
}

.footer {
  background: $gray-100;
  display: flex;
  flex-direction: column;
}

.footer-nav {
  display: none;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-link {
  height: 36px;
  width: 36px;
}

.footer-social-link + .footer-social-link {
  margin-left: 24px;
}

.footer-social-link img {
  height: 100%;
  width: 100%;
}

.office-box {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 48px 20px;
}

.office-box-image {
  border-right: 1px solid $gray-300;
  height: 60px;
  padding-right: 12px;
  position: relative;
}

.office-box-image img {
  width: auto;
  height: 100%;
}

.office-box-location {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

#ninja-slider ul {
  padding-top: calc(calc(100vh / 2) + 360px) !important;
}

@media (min-width: 480px) {
  .contact-form {
    padding: 40px 60px;
  }

  .card-box {
    padding: 40px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  .header {
    padding: 40px 60px;
  }
}

@media (min-width: 600px) {
  .row-two {
    display: flex;
    flex-wrap: wrap;
  }

  .card-box:not(.sm) {
    display: initial;
  }

  .card-box.three {
    background: url("../img/page-titles/2.jpg") no-repeat center/cover;
  }

  .card-box.five {
    background: url("../img/page-titles/3.jpg") no-repeat center/cover;
  }

  .four .card-box-title {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
  }

  .six .card-box-title {
    text-transform: capitalize;
    font-size: 21px;
    font-weight: 700;
  }

  .action-box {
    flex: 0 0 50%;
  }

  .banner-box {
    background: url("../img/banners/1.jpg") no-repeat center/cover;
    box-sizing: border-box;
    display: initial;
    flex: 0 0 50%;
    padding: 30px;
    position: relative;
    z-index: 0;
  }

  .banner-box::before {
    background: rgba($color: #06b7a9, $alpha: 0.15);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .banner-box-text {
    bottom: 30px;
    color: $white;
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  .banner-box-title {
    font-family: "Rita";
    font-size: 48px;
    line-height: 40px;
    text-transform: uppercase;
  }
  .banner-box-subtitle {
    text-align: right;
    text-transform: uppercase;
  }

  .row-three {
    display: flex;
  }

  .quote {
    flex: 0 0 50%;
    order: 1;
  }

  .work {
    flex: 0 0 50%;
    order: 2;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .footer-nav-link {
    color: $gray-300;
    text-decoration: none;
  }

  .footer-nav-link + .footer-nav-link {
    margin-left: 10px;
  }

  .office-box {
    flex: 0 0 50%;
    order: 1;
    justify-content: flex-start;
  }

  .social-box {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    justify-content: flex-end;
    order: 2;
    padding: 48px 20px;
  }

  .footer-social {
    justify-content: flex-end;
    order: 2;
  }

  .footer-social-link {
    height: 24px;
    width: 24px;
  }

  .header-slider {
    align-items: flex-end;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .contact-form {
    width: 60%;
    padding: 40px;
  }

  .card-box {
    flex: 0 0 33.33%;
  }

  .card-box.slider-control {
    display: none;
  }
}

@media (min-width: 680px) {
  .header-main {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .header-slider {
    padding-top: 40px;
  }

  .logo {
    margin: 0;
  }

  .menu {
    color: $white;
    font-size: 14px;
    text-transform: uppercase;
  }

  .menu ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
  }

  .menu li {
    display: inline-block;
    margin: 0 10px;
  }

  .nav-link-phone {
    display: inline-block;
    font-size: 18px;
    margin: 0;
  }

  .nav-link-phone img {
    height: 14px;
  }
}

@media (min-width: 680px) and (max-width: 767px) {
  .menu li {
    margin: 0 4px;
  }
}

@media (min-width: 768px) {
  .menu ul {
    margin-right: 30px;
  }

  .carrousel-controls {
    display: block;
    flex: 0 0 25%;
  }

  .carrousel {
    display: flex;
    flex: 0 0 75%;
    flex-wrap: wrap;
  }

  .row-two {
    flex-wrap: nowrap;
  }

  .card-box {
    flex: 0 0 33.33%;
  }

  .card-box.slider-control {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .slider-current {
    font-size: 21px;
  }

  .slider-last {
    font-size: 12px;
  }

  .banner-box {
    flex: 0 0 100%;
  }
}

@media (min-width: 992px) {
  .main {
    max-width: 960px;
    margin: 0 auto;
  }

  .header {
    padding-bottom: 150px;
  }

  #ninja-slider ul {
    padding-top: calc(calc(100vh / 2) + 460px) !important;
  }

  .header-logo {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .menu {
    display: flex;
    flex: 2;
  }

  .contact-form {
    width: 33.33%;
  }

  .header-slider-control {
    align-items: center;
    background: $green;
    color: $white;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    transform: translateY(150px);
  }

  .slider-count {
    display: flex;
    align-items: flex-start;
  }

  .header-desc-box {
    background: $blue;
    box-sizing: border-box;
    color: $white;
    display: initial;
    flex-direction: column;
    padding: 30px;
    width: 33.33%;
  }

  .header-desc-box-title:not(.header-desc-box-subtitle) {
    font-family: "Rita";
    font-size: 24px;
    text-transform: uppercase;
  }

  .header-desc-box-subtitle {
    font-family: "NextLT";
    font-size: 12px;
    text-transform: uppercase;
  }
}

@media (min-width: 1200px) {
  .main {
    max-width: 1140px;
    margin: 0 auto;
  }
}

#ninja-slider-pager {
  display: none;
}

.row-image {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background: url(../img/page-titles/1.jpg) no-repeat 50% / cover; */
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
}
.row-image:before {
  /* background: rgba(27, 117, 188, 0.45); */
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.row-image.alt {
  /* background: rgba(27, 117, 188, 0.45); */
  opacity: 0.25;
}

.row-image,
.row-desc {
  box-sizing: border-box;
  flex: 0 0 50%;
}

.row-desc {
  padding: 80px 60px;
  background: #f1f2f2;
}

.row-desc-title {
  text-transform: uppercase;
}
