// Variables

//
// Color system
//

$white: #fff !default;
$gray-100: #f1f2f2 !default;
$gray-200: #a7a9ac !default;
$gray-300: #939598 !default;

$blue: #1b75bc !default;
$green: #06b8a9 !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-200 !default;
